/* ESTILOS GLOBALES */

@font-face {
    font-family: 'Poppins';
    src: url(../Assets/Fonts/Poppins-Light.ttf) format("truetype");
}

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

a{
    text-decoration: none;
}

.main-container{
    max-width: 1200px;
    width: 90%;
    height: inherit;
}

/* ESTILOS GLOBALES */

/* ESTILOS HEADER */

header{
    height: 150px;
    width: 100%;
    background-color: #5A63D4;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 2000;
}

header .main-container nav{
    display: flex;
    flex-direction: row;
    height: inherit;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

header .main-container nav{
    list-style: none;
    display: flex;
    flex-direction: row;
}

header .main-container nav a{
    color: rgb(253, 253, 253);
    padding: 19px;
    font-size: larger;
    margin-bottom: 60px;
}

header .main-container nav a:hover{
    color: #EFB03F;
    font-weight: bolder;
    font-size: 30px;
}

.logo-container{
    position: absolute;
    display: flex;
    height: inherit;
    justify-content: center;
    align-items: center;
    padding: 0 19px;
}

.logo-container img {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 50%;
    height: 125px;
    width: 125px;
}

.slogan-container{
    display: flex;
    color: #EFB03F;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 50px;
    font-size: large;
}

/* ESTILOS HEADER */

/* FOOTER */

.back{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #EFB03F;
    height: 50px;
    width: auto;
    margin: 20px;
  }

  .back a{
    padding: 10px;
  }

  .back a:hover{
    color: #fff;
    font-weight: bolder;
    font-size: 30px;
}

.fin{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #5A63D4;
  height: 50px;
  width: auto;
}
footer p{
  font-size: large;
  color: #fff;
  margin-bottom: 20px;
  margin-top: 20PX;
}
