/* ESTILOS GLOBALES */

@font-face {
    font-family: 'Poppins';
    src: url(../Assets/Fonts/Poppins-Light.ttf) format("truetype");
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

a {
    text-decoration: none;
}

.main-container {
    max-width: 1200px;
    width: 90%;
    height: inherit;
}

/* ESTILOS HEADER */

header {
    height: 150px;
    width: 100%;
    background-color: #5A63D4;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 2000;
}

header .main-container nav {
    display: flex;
    flex-direction: row;
    height: inherit;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

header .main-container nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

header .main-container nav a {
    color: rgb(253, 253, 253);
    padding: 19px;
    font-size: larger;
    margin-bottom: 60px;
}

header .main-container nav a:hover {
    color: #EFB03F;
    font-weight: bolder;
    font-size: 30px;
}

.logo-container {
    position: absolute;
    display: flex;
    height: inherit;
    justify-content: center;
    align-items: center;
    padding: 0 19px;
}

.logo-container img {
    border-radius: 50%;
    height: 125px;
    width: 125px;
}

.slogan-container {
    display: flex;
    color: #EFB03F;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 50px;
    font-size: large;
}

/* MAIN */

#Contáctenos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 45px;
    padding-top: 150px;
}

#Contáctenos .titulo-contacto {
    margin-top: 45px;
}

#Contáctenos .form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 1%;
}

#Contáctenos form input,
#Contáctenos form textarea {
    font-family: Quicksand;
    font-size: 16px;
    display: block;
    padding: 10px;
    margin: 15px;
    width: 500px;
    resize: none;
    border-radius: 10px;
    border: 1px solid #262262;
    outline: none;
}

#Contáctenos .form-container .boton {
    cursor: pointer;
}

#social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#social-media .social-media-box {
    margin: 20px;
}

#social-media .social-media-box img {
    width: 50px;
    height: 50px;
}

h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* FOOTER */

.back{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #EFB03F;
    height: 50px;
    width: auto;
    margin: 20px;
  }

  .back a{
    padding: 10px;
  }

  .back a:hover{
    color: #fff;
    font-weight: bolder;
    font-size: 30px;
}

.fin{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #5A63D4;
  height: 50px;
  width: auto;
}
footer p{
  font-size: large;
  color: #fff;
  margin-bottom: 20px;
  margin-top: 20PX;
}